.stories p{
    font-family: "Press Start 2P";
    display: flex;
    font-size: 15px;
    margin-bottom: 100px;
}

.story1{
    border: black;
    margin-bottom: 100px;
    color: rgba(255, 255, 255, 0.8);
}