.accordion{
    font-size: 20px;
    margin-bottom: 100px;
    margin-top: 400px;

}


.item {
    margin: 20px;
    padding: 10px;
    border-color: #f95984;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-style: solid;
}

.faq{
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    font-family: "Press Start 2P";
}

.title {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.title button{

    background: linear-gradient(to right, #f95984, rgb(255, 51, 51));
    width: 40px;
    min-width: 20px;
    min-height: 20px;
    font-size: 20px;
    border: #f95984;
    padding: 10px;
    cursor: pointer;
}

.title h2{
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    padding: 10px;
    font-family: "Press Start 2P";
}

.content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212839;
    transition: all 2s ease;
}

.content.show{
    height: 20px;
    max-height: 9999px;
    transition: all 2s ease;
    position: relative;
    background-color: #212839;
}

.contents{
    font-family: "Press Start 2P";
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    text-align: left;
}