.accordion{
    font-size: 20px;
    margin-bottom: 100px;
    margin-top: 400px;

}


.item {
    background: linear-gradient(to right, #f95984, rgb(255, 51, 51));
    margin: 20px;
    padding: 10px;
}

.faq{
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    font-family: "Press Start 2P";
}

.title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 10px;
}

.title span{
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    padding: 10px;
}

.title h2{
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    padding: 10px;
    font-family: "Press Start 2P";
}

.content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show{

    height: 20px;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

.contents{
    font-family: "Press Start 2P";
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    text-align: left;
}