.accordion{
    font-size: 20px;
    margin-bottom: 100px;
    margin-top: 400px;
}


.item {
    margin: 45px;
    padding: 10px;
    border-color: #f95984;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-style: solid;
}

.faq{
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    font-size: 45px;
}

.title {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    margin-bottom: 10px;
}

button.plus{
    content: "+";
    background: linear-gradient(to bottom, #f95984, rgb(255, 51, 51));
    width: 45px;
    height: 45px;
    min-width: 20px;
    min-height: 20px;
    font-size: 25px;
    border: #f95984;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.minus{
    content: "-";
    background: linear-gradient(to top, #f95984, rgb(255, 51, 51));
    width: 45px;
    height: 45px;
    color: black;
    min-width: 20px;
    min-height: 20px;
    font-size: 25px;
    border: #f95984;
    padding: 10px;
    cursor: pointer;
}

.title h2{
    color: rgba(255, 255, 255, 0.8);
    font-size: 35px;
    padding: 10px;
}

.content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212839;
    transition: width 2s;
}

.content.show{
    height: 40px;
    max-height: 9999px;
    position: relative;
    background-color: #212839;
    transition: width 5s;
    transition-delay: 3s;
}

.contents{
    transition: width 5s;
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: left;
    transition-delay: 3s;
}