.text-footer{
    margin-top: 30%;
    font-size: 24px;
    font-family: Fredoka;
    color: aliceblue;
}

.footer{
    background-color: transparent;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text-footer:hover{
    color: lightblue;
}

.footerLogo{
    display: flex;
    justify-content: space-between;
    left: 1rem;
    cursor: pointer;
}

.footerActions{
    display: flex;
}

.footerActions > div{
    margin: 10px;
}



.footerItems{
    margin-top: 1.5%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-right: 40%;
    font-size: 20px;
    font-family: Fredoka;
    color: aliceblue;
}

.terms{
    margin-right: 10px;
}

.dash{
    margin-right: 10px;
}

.terms:hover{
    color: lightblue;
    cursor: pointer;
}

.privacy:hover{
    color: lightblue;
    cursor: pointer;
}

/*
.discordContainerF{
    display: flex;
    width: 40px;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.discordContainerF > img{
    height: 20px;
}

.discordContainerF:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.instagramContainerF{
    display: flex;
    border-radius: 10px;
    padding: 10px;
    width: 40px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.instagramContainerF > img{
    height: 20px;
}

.instagramContainerF:hover{
    cursor: pointer;
    background-color: aliceblue;
}

.twitterContainerF{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    width: 40px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.twitterContainerF > img{
    height: 20px;
}

.twitterContainerF:hover{
    cursor: pointer;
    background-color: aliceblue;
}
 */


