.footer-down{
    width: 50%;
    height: 0;
    background-color: black;
}

.flex{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

.center{
    margin-left: 20%;
    display: flex;
}

.line-footer{
    width: 100%;
    justify-content: center;
}

.text-footer{
    font-size: 24px;
    font-family: Fredoka;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.text-footer-logo{
    font-family: Fredoka;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-left: 30%;
    text-decoration: none;
}

.text-footer-p{
    margin-top: 15px;
    font-size: 15px;
    font-family: Fredoka;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    width: 100%;
}

.margin-left{
    margin-left: 5px;
    width: 200px;
}

.margin-down{
    margin-top: 5px;
}

.full{
    width: 100%;
    height: 50px;
}

.line{
    border-bottom: black 2px;
    width: 200px;
}

.footer{
    background: #1e1e1e;
    height: 10px;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
}

.footerLogo{
    left: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.footerActions{
    display: flex;
}

.footerActions > div{
    margin: 10px;
}

.discordContainer{
    display: flex;
    cursor: pointer;
    width: 40px;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.discordContainer > img{
    height: 20px;
}

.instagramContainer{
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    width: 40px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.instagramContainer > img{
    height: 20px;
}



.twitterContainer{
    display: flex;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    width: 40px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.twitterContainer > img{
    height: 20px;
}

.mintButton {
    background: linear-gradient(to right, #f95984, rgb(255, 51, 51));
    border-radius: 50px;
    padding: 15px 40px;
    -webkit-animation-direction: alternate;
    color: black;
    font-size: 20px;
}

