.header {
    background: #1e1e1e;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Press Start 2P";
}

.header > div{
    margin: 10px;
}

.dubbLogo{
    width: 100px;
    height: 100px;
}

.logoContainer{
    max-height: 100px;
    max-width: 100px;
}

.headerItems{
    display: flex;
    color: #a1a5b0;
    font-family: "Press Start 2P";
    size: auto;
}

.headerItems > p{
    margin: 20px;
}

.headerActions{
    display: flex;
    right: 1rem;
}

.headerActions > div{
    margin: 10px;
}

.discordContainer{
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.discordContainer > img{
    height: 20px;
}

.instagramContainer{
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.instagramContainer > img{
    height: 20px;
}

.twitterContainer{
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.twitterContainer > img{
    height: 20px;
}

.mintButton {
    background: linear-gradient(to right, #f95984, rgb(255, 51, 51));
    border-radius: 50px;
    padding: 15px 40px;
    -webkit-animation-direction: alternate;
    color: black;
    font-family: "Press Start 2P";
}


