

.header {
    background: transparent;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.timer {
    margin-left: -20px;
    height: 100px;
    color: rgba(255,255,255, 0.8);
    width: 100%;
}

.header > div{
    margin: 10px;
}

.dubbLogo{
    width: 100px;
    height: 100px;
}

.logoContainer{
    max-height: 100px;
    max-width: 100px;
}

.headerItems{
    display: flex;
    color: rgba(0,0,20);
    font-size: 30px;
    cursor: pointer;
    font-family: 'Righteous';
}

.abouthead:hover{
    color: rgba(255, 255, 255, 0.8);
}

.teamhead:hover{
    color: rgba(255, 255, 255, 0.8);
}

.faqhead:hover{
    color: rgba(255, 255, 255, 0.8);
}

.headerItems > p{
    margin: 20px;
}

.headerActions{
    display: flex;
    right: 1rem;
    justify-content: space-between;
}

.headerActions > div{
    margin: 10px;
}

.discordContainer{
    display: flex;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 40px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.discordContainer:hover{
    cursor: pointer;
    background-color: white;
}

.discordContainer > img{
    height: 20px;
}

.instagramContainer{
    display: flex;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 40px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.instagramContainer > img{
    height: 20px;
}

.instagramContainer:hover{
    cursor: pointer;
    background-color: white;
}

.twitterContainer:hover{
    cursor: pointer;
    background-color: white;
}

.twitterContainer{
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 40px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.twitterContainer > img{
    height: 20px;
}



