.road-map{
    height: 400px;
    width: auto;
    margin-top: auto;
    background-color: #1e1e1e;
    position: relative;
    justify-content: space-between;
}


.dot {
    margin-top: 30px;
    width: 50px;
    border-radius: 50%;
    border-color: blue;
    border-width: thick;
    display: grid;
    position: relative;
    padding: 15px;
    background-color: white;
    justify-content: center;
}

.dot > img {
    height: 45px;
    align-content: center;
}